body {
  text-align: center;
}

header {
  position: relative;
}

.logo-img {
  padding: 20px;
}

.gnb-cart {
  display: block;
  position: absolute;
  top: 30px;
  right: 100px;
  width: 25px;
  height: 31px;
  background: url("./../public/imgs/comm_header_util_link_abc_mart.png");
  background-position-x: -63px;
}

.nav {
  --bs-nav-link-color: "black";
  --bs-nav-link-hover-color: "black";
}

.main-bg {
  height: 410px;
  background-size: cover;
  background-position: center;
}

.alert {
  --bs-alert-border-radius: 0;
}

.watched-popup {
  position: fixed;
  top: 20%;
  right: 20px;
  z-index: 9999;
  width: 100px;
  height: 350px;
  background-color: white;
  border: 1px solid #999;
  overflow-y: auto;
}

.watched-popup-close {
  margin: 10px;
  border: 1px solid #aaa;
  color: #666;
}
